/*.contain{*/


/*position: absolute;*/


/*}*/

body {
	/*padding-top: 45px;*/
}

._nav {
	min-height: 40px;
	!important;
	width: 100%;
	background-color: rgba(1, 133, 128, 0.2);
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.worklist {
	/*margin-top: 10%;*/
}

.worklist li {
	background-color: rgba(1, 133, 128, 0.2);
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	border: none;
	margin: 15px 2%;
	clear: both;
}

.list-group-item p {
	width: 32%;
	display: inline-block;
	margin: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: white;
}

#myDiv1 {
	width: 45%;
	height: 100px;
	line-height: 100px;
	float: left;
	background-color: rgba(255, 255, 255, 0.1);
	!import;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	border: none;
	margin: 15px 2%;
}

.myDiv2 {
	width: 40%;
	height: 46px;
	background-color: rgba(255, 255, 255, 0.1);
	!import;
	line-height: 46px;
	float: left;
	/*    background-color: rgba(255, 255, 255, 0.2);*/
	font-size: 18px;
	text-align: center;
	border: none;
}

#myDiv a {
	color: white;
}

._nav {
	min-height: 40px;
	!important;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	line-height: 40px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	/*text-align: center;*/
	display: inline-block;
	margin: 0;
}
