header{
    height:40px;
    background-color:#256F87;
    color:white;
    padding:0 0 0 10px;
    position: relative;
    text-align: center;
}
header h3{
    display: inline-block;
    margin:10px 0 0 0;
}
header span{
    position: absolute;
    right:25%;
}
#myDiv{
    background-color: #256F87;
}
/*#myDiv1{*/
    /*height:20px;*/
    /*background-color: #256F87;*/
/*}*/
article{
    height:587px;
    padding:0;
    margin:0;
    width: 100%;
}
.nav-tabs.nav-justified1 {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified1 > li {
    float: none;
}
.nav-tabs.nav-justified1 > li > a {
    margin-bottom: 5px;
    text-align: center;
    color:white;
}
.nav-tabs.nav-justified1 > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 300px) {
    .nav-tabs.nav-justified1 > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified1 > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified1 > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified1 > .active > a,
.nav-tabs.nav-justified1 > .active > a:hover,
.nav-tabs.nav-justified1 > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 300px) {
    .nav-tabs.nav-justified1 > li > a {
        border-bottom: 1px solid #fff;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified1 > .active > a,
    .nav-tabs.nav-justified1 > .active > a:hover,
    .nav-tabs.nav-justified1 > .active > a:focus {
        border-bottom-color: #fff;
        color: black;

    }
}
.nav-justified1 {
    width: 100%;
}
.nav-justified1 > li {
    float: none;
}
.nav-justified1 > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-justified1 > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 480px) {
    .nav-justified1 > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified1 > li > a {
        margin-bottom: 0;
    }
}
/*.nav-justified1 > li > a{*/
    /*background-color: #00BFA5;*/
/*}*/

iframe{
    margin:0;
    border: none;
    min-height: 600px;
}
footer{
    height:40px;
    background-color: #256F87;
    color:white;
    margin:0;
}
